@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Background Light: #f6f6f8 */
    --background: 240 9% 97%;
    /* Slate 900 */
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
 
    /* Primary: #3b82f6 */
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    /* Accent: #60a5fa */
    --accent: 213 94% 68%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 91% 60%;
 
    --radius: 0.25rem;
  }
 
  .dark {
    /* Background Dark: #121212 */
    --background: 0 0% 7%;
    /* Gray 100 */
    --foreground: 210 20% 98%;
 
    /* Surface Dark: #1e1e1e */
    --card: 0 0% 12%;
    --card-foreground: 210 20% 98%;
 
    --popover: 0 0% 12%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 0 0% 15%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 213 94% 68%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 217 91% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}
